@import url("./reset.css");
@import url("./variables.css");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

body {
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  height: 100vh;
}

.todo-background {
  width: 100%;
  height: 100%;
  background-color: var(--Very-Dark-Blue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-background-img {
  /* width: 100%;
  height: 100%; */
}

.todo-background-img img {
}

.wrapper {
  width: 510px;
  height: 637px;

  position: absolute;
  top: 70px;
}

.todo-app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}

.todo-app-header h1 {
  font-size: 38px;
  font-weight: 700;
  color: white;
  letter-spacing: 15px;
}

.todo-app-header img {
  width: 30px;
  height: 30px;
}

.todo-form {
  background-color: var(--Very-Dark-Desaturated-Blue);
  height: 60px;

  display: flex;
}

.border-radius {
  border-radius: 5px;
}

.border-radius-top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.border-bottom {
  border-bottom: 1px solid var(--Very-Dark-Grayish-Blue);
}

.margin-bottom {
  margin-bottom: 22px;
}

.cross-btn-area {
  width: 44px;
}

.todo-list {
  width: 100%;
  /* height: 300px; */
  background-color: green;
  border-radius: 5px;
}

footer {
  text-align: center;
  color: var(--Very-Dark-Grayish-Blue);
  font-size: 15px;
}

.todo-input {
  width: 400px;
  color: var(--Light-Grayish-Blue);
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  background-color: inherit;
  border-style: none;
  caret-color: var(--Bright-Blue);
  padding-top: 5px;
  box-sizing: border-box;
}

.todo-list-control {
  height: 47px;
  color: var(--Very-Dark-Grayish-Blue);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0px 18px;
  font-size: 14px;
  margin-bottom: 48px;
}

.items-left {
  margin-right: 80px;
}

.active-btn {
  margin: 0px 17px;
}

.completed-btn {
  margin-right: 53px;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.todo-input:focus {
  outline: none;
}

.check-btn-area {
  width: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--Very-Dark-Grayish-Blue);
}

.check-btn:hover {
  border: 2px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(
      var(--Very-Dark-Desaturated-Blue),
      var(--Very-Dark-Desaturated-Blue)
    ),
    linear-gradient(
      to bottom right,
      var(--check-btn-blue),
      var(--check-btn-purple)
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
  cursor: pointer;
}

.hidden {
  display: none;
}

.cross-btn-area img:hover {
  cursor: pointer;
}

.update-my-todo-input:hover {
  cursor: pointer;
}
